/API.py
/SR-SQLite-DatabaseConstructor-IB.py
/tickerlist-backup-30.03.2023.pkl
/testiofolder/test-MSFT-Daily.csv
/SR-SurvivorshipFreeTickerList.py
/SR_copyfromcsv_test.py
/temp25072023.py
/tickerlist.pkl
/SR-Postgresql-Reader.py
/.idea/vcs.xml
/TickerList_backup29-03-2023.txt
/SR-SurvivorshipFreeTickerList-development.py
/tickerlist - backup11.07.23.pkl
/TickerList.txt
/SR-Polygon-Downloader-IntraDay.py
/.idea/SR-Downloading-Scripts.iml
/SR-DBDataDownloader-2023-version1.py
/SolankiTrialScript2.py
/.idea/inspectionProfiles/Project_Default.xml
/.idea/inspectionProfiles/profiles_settings.xml
/Polygon-practice2.1 - threading.py
/Polygon-practice2.0 - threading.py
/Polygon-practice1.0.py
/.idea/modules.xml
/missing_tickers_intraday.pkl
/missing_tickers_daily.pkl
/.idea/misc.xml
/FailureListIntraday.txt
/Backup Tickerlist.txt
